<a href="https://colab.research.google.com/github/HedersonSantos/Noticias/blob/main/preProcessamento_noticias.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd
import numpy as np
from google.colab import files, drive
from pathlib import Path
from sklearn.model_selection import train_test_split
import io
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('max_colwidth', None)

### Montando drive Google e setando variáveis

In [14]:
drive.mount('/gdrive')
%cd /gdrive/My\ Drive/Colab\ Notebooks/nlp_tcc
path = '/gdrive/My Drive/Colab Notebooks/nlp_tcc'

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).
/gdrive/My Drive/Colab Notebooks/nlp_tcc

### Upload da base de noticias

In [15]:
#csvNoticias = files.upload()  
!rm *.*
!wget https://raw.githubusercontent.com/HedersonSantos/Noticias/main/noticia_tratada.zip
!unzip noticia_tratada.zip
%ls

--2021-06-21 19:34:28--  https://raw.githubusercontent.com/HedersonSantos/Noticias/main/noticia_tratada.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.108.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 25634699 (24M) [application/zip]
Saving to: ‘noticia_tratada.zip’

noticia_tratada.zip 100%[===================>]  24.45M  37.7MB/s    in 0.6s

2021-06-21 19:34:29 (37.7 MB/s) - ‘noticia_tratada.zip’ saved [25634699/25634699]

Archive:  noticia_tratada.zip
  inflating: noticia_tratada.csv
bertimbau_classifier_pt_dict  noticia_tratada.csv  noticia_tratada.zip

In [16]:
#dfNews_all = pd.read_csv(io.BytesIO(csvNoticias['noticia_tratada.csv']), header=0, delimiter=';')
dfNews_all = pd.read_csv('noticia_tratada.csv', header=0, delimiter=';')
print(dfNews_all.columns)
dfNews_all.shape

Index(['FONTE', 'CATEGORIA', 'TEXTO', 'URL', 'PUBLISHEDAT', 'TITLE', 'AUTHOR',
       'DT_REGISTRO', 'TEXT_TRATADO'],
      dtype='object')

(15799, 9)

### Tratamento da CATEGORIA

In [17]:
print('Dimensao Inicial:',dfNews_all.shape)
#Elimina noticias duplicadas
dfNews = dfNews_all.drop_duplicates(subset=['URL'],keep='first').copy()
#Elimina noticias sem texto
dfNews = dfNews[(~dfNews['TEXT_TRATADO'].isnull())]
print('Dimensão após eliminar duplicadas e textos em branco:',dfNews.shape)
#Tira as marcações do campo Text[] do Postgres em categoria e seta para minúscula
dfNews['CATEGORIA'] = dfNews.loc[:,['CATEGORIA']].apply(lambda x: x['CATEGORIA'].replace('[','').replace(']','').replace('"','').replace(", 'redacao'",'').replace("'",''),axis=1)
dfNews['CATEGORIA'] = dfNews.loc[:,['CATEGORIA']].apply(lambda x: x['CATEGORIA'].lower(),axis=1)
#Agrupa as notícias locais como categoria LOCAL
siglaEstados = ['ac','al','ap','am','ba','ce','df','es','go','ma','mt','ms','mg','pa','pb','pr','pe','pi','rj','rn','rs','ro','rr','sc','sp','se','to']
nomeEstados = ['acre','alagoas','amapa','amazonas','bahia','ceara','distrito-federal','espirito-santo','goias','maranhao','mato-grosso','mato-grosso-sul','minas-gerais','minas',
               'para','paraiba','parana','pernambuco','piaui','rio-janeiro','rio-grande-norte','rio-grande-sul','rondonia','roraima','santa-catarina','sao-paulo','sergipe','tocantins']
nomeCidades =['rio','bh','brasilia']
local = siglaEstados + nomeEstados + nomeCidades
dfNews['CATEGORIA'] = dfNews.loc[:,['CATEGORIA']].apply(lambda x: 'local' if x['CATEGORIA'] in local else x['CATEGORIA'],axis=1)
#efe, afp, rfi são notícias internacionais. 
mundo = ['efe','afp','rfi','mundo','internacional']
dfNews['CATEGORIA'] = dfNews.loc[:,['CATEGORIA']].apply(lambda x: 'mundo' if any( i in x['CATEGORIA'] for i in mundo) else x['CATEGORIA'],axis=1)
#Na lista miscelanea há as categorias que possuem miscelâneas de noticias de outras categorias.
miscelanea = ['deutschewelle', '','bbc','ansa','universa']
dfNews['CATEGORIA'] = dfNews.loc[:,['CATEGORIA']].apply(lambda x: 'miscelanea' if x['CATEGORIA'] in miscelanea else x['CATEGORIA'],axis=1)
#'reuters' é uma categoria especifica do UOL. Possui textos de economia e miscelânea de noticias.
dfreuters = dfNews[dfNews['CATEGORIA']=='reuters'].copy()
dfreuters['CATEGORIA'] = dfreuters.loc[:,['CATEGORIA','URL']].apply(lambda x: 'economia' if 'economia' in x['URL']  else 'miscelanea',axis=1)
dfNews=dfNews[dfNews['CATEGORIA']!='reuters']
dfNews = pd.concat([dfNews,dfreuters],sort=False)
#noticias é uma categoria da globo. Traz noticias do Jornal Nacional. São miscelâneas.
dfnoticia = dfNews[dfNews['CATEGORIA']=='noticia'].copy()
dfnoticia['CATEGORIA'] = dfnoticia.loc[:,['CATEGORIA','URL']].apply(lambda x: 'saude' if 'ciencia-e-saude' in x['URL']  else 'miscelanea',axis=1)
dfNews=dfNews[dfNews['CATEGORIA']!='noticia']
dfNews = pd.concat([dfNews,dfnoticia],sort=False)
#redacao é uma categoria da uol. Traz noticias do meio-ambiente. VERIFICAR QUANDO ATUALIZAR O DATASET SE PERMANECE ASSIM.
dfNews['CATEGORIA'] = dfNews.loc[:,['CATEGORIA','URL']].apply(lambda x: 'meio-ambiente' if ('meio-ambiente' in x['URL']) and
                                                              (x['CATEGORIA']=='redacao') else x['CATEGORIA'],axis=1)
dfNews['CATEGORIA'] = dfNews.loc[:,['CATEGORIA','URL']].apply(lambda x: 'meio-ambiente' if ('meio-ambiente' in x['URL']) and
                                                              (x['CATEGORIA']=='sociedade') else 
                                                              'miscelanea' if x['CATEGORIA']=='sociedade' else x['CATEGORIA'] ,axis=1)
dfNews['CATEGORIA'] = dfNews.loc[:,['CATEGORIA']].apply(lambda x: 'saude' if any(i in x['CATEGORIA'] for i in ['vivabem','bemestar'])  else x['CATEGORIA'] ,axis=1)
dfNews['CATEGORIA'] = dfNews.loc[:,['CATEGORIA']].apply(lambda x: 'esporte' if any(i in x['CATEGORIA'] for i in ['futebol','volei']) else x['CATEGORIA'],axis=1)
midia = ['famosos','cinema','oscar','videos','bbb','musica','lives','cultura']
dfNews['CATEGORIA'] = dfNews.loc[:,['CATEGORIA']].apply(lambda x: 'midia' if any(i in x['CATEGORIA'] for i in midia) else x['CATEGORIA'],axis=1)
dfNews['CATEGORIA'] = dfNews.loc[:,['CATEGORIA']].apply(lambda x: 'politica' if any(i in x['CATEGORIA'] for i in ['politica'])  else x['CATEGORIA'],axis=1)
dfNews.shape

Dimensao Inicial: (15799, 9)
Dimensão após eliminar duplicadas e textos em branco: (15799, 9)

(15799, 9)

In [ ]:
#Exportando o dataset todo para csv
#dfNews.to_csv(path + "/news.csv",header=True,doublequote=True, index=False, quotechar='"', encoding='utf-8')

In [18]:
dfNews.groupby(['CATEGORIA'])['URL'].count().reset_index().sort_values('URL',ascending=False)

,CATEGORIA,URL
396,miscelanea,1833
395,midia,1574
263,brasil,1381
439,politica,1337
386,local,1216
400,mundo,1115
339,esporte,720
461,saude,665
416,novelas,628
317,economia,607
299,coronavirus,497
436,poder,318
306,cpicovid,230
285,colunas,206
258,blog,179
312,detalhe,178
408,nid,172
379,justica,143
358,geral,131
447,"regionais, brasilia",123
315,diversao,115
393,mercados,107
276,celebridades,89
304,cotidiano,84
330,entretenimento,84
415,novela,84
434,podcast,80
449,"regionais, sudeste",80
392,mercado,75
340,esportes,68
334,equilibrioesaude,68
390,meio-ambiente,59
349,fantastico,56
489,tecnologia,54
282,cidades,47
452,"republica, breves",46
482,"superfc, cruzeiro",43
448,"regionais, nordeste",42
322,educacao,35
422,opiniao,33
325,eleicoes,31
479,superfc,29
451,republica,27
372,inovacao,25
496,torcida,25
261,"blogs, post",22
441,pro,21
481,"superfc, atletico",21
486,tanostrends,20
426,paineldoleitor,20
251,app,20
289,colunistas,18
435,podcasts,17
494,times,17
387,loterias,16
464,seguranca,16
370,ilustrada,16
468,smartphone,15
450,"regionais, sul",15
456,"rio, bairros",14
252,apps,14
318,"economia, blog, post",13
483,"superfc, especializados",12
432,playlist,12
277,celina,12
371,ilustrissima,11
480,"superfc, america",10
391,meioambiente,10
419,objetivo,9
377,internet,9
273,carros,9
356,games,9
357,gerais,9
407,negocios,8
443,programas,8
453,reviews,8
346,essencial,8
374,interna_gerais,7
442,produtos,7
403,nahorah,7
351,financas,7
335,espaco,7
323,"ela, gente",7
420,olimpiadas,7
412,"not%c3%adcias, geral",6
249,ambiente,6
293,comportamento,6
305,covid,6
328,empresa,6
297,confere,5
307,cripto,5
470,"sociedade, coronavirus",5
247,agronegocios,5
286,"colunas, monicabergamo",4
283,ciencia,4
246,acessorios,4
402,nacional,4
389,materias,4
378,ios,4
343,"esportes, maisesportes",4
381,legislacao,4
440,portuguese,4
493,"tilt, reuters",4
446,realities,4
499,tv,4
478,startup,4
459,robotica,4
284,coluna,3
331,"entretenimento, celebridades",3
375,interna_nacional,3
433,pme,3
272,carreira,3
429,pesquisas,3
465,"seguranca, policia",3
366,hardware,3
327,empregos,3
321,"economia, tecnologia, blog, post",3
484,sustentabilidade,3
333,epoca,2
352,fluminense,2
280,cidadania,2
281,cidade,2
476,sportv,2
359,"geral, blogs, educatech",2
310,despertador,2
309,cursos,2
316,divirtase,2
319,"economia, breves",2
287,"colunas, painel",2
354,forbessaude,2
324,"ela, moda",2
329,enem,2
455,"ribeiraopreto, cotidiano, coronavirus",2
491,telecom,2
290,"colunistas, convidados",2
458,"rj, playlist",2
467,seminariosfolha,2
365,hacker,2
295,comprova,2
460,santos,2
296,concursos,2
336,especiais,2
487,tec,2
342,"esportes, interolimpico",2
409,nieman,2
279,"channels, manaus, news",2
411,nossa,2
368,ideias,2
266,"brasil, epoca",2
388,mais,2
385,livros,2
501,ultimas,2
382,legislativo,2
413,notebook,2
270,canaltech,2
394,metro,2
444,"programas, 3-em-1",2
373,interessa,2
406,negnews,2
260,"blogs, coluna",2
300,"coronavirus, 3-dos-27-estados-brasileiros-ja-vacinam-a-populacao-geral",1
502,utilitarios,1
259,blogs,1
301,"coronavirus, 3-ultimos-meses-concentram-40-de-todas-as-mortes-por-covid-19-no-brasil",1
503,"v, 68573",1
477,start,1
507,wellness,1
262,boxe,1
302,"coronavirus, 500-mil-mortes-total-de-obitos-por-covid-no-brasil-supera-populacao-da-cidade-de-santos-sp",1
303,"coronavirus, 50picos-de-rejeicao-a-bolsonaro-acompanham-piores-momentos-da-pandemia",1
505,viagens,1
308,criptomoedas,1
485,"t, dxzrnybmkc, temporadas, 1",1
506,wearable,1
504,vacina,1
488,"tech, n174100",1
264,"brasil, cidades",1
500,tvenovela,1
497,transito,1
495,"times, santos",1
278,"channels, hoje, news",1
498,turismo,1
492,tempo,1
275,"carros, colunas, infomoto",1
274,"carros, colunas",1
288,"colunas, painelsa",1
271,carnaval,1
265,"brasil, coluna",1
291,combate,1
292,comida,1
269,"campinas, cotidiano, coronavirus",1
490,"tecnologia, opovotecnologia",1
294,"comportamento, 3a-onda-da-covid-no-brasil-deve-ser-agravada-por-vacinacao-lenta-e-descaso",1
268,brics,1
267,"brasil, justica",1
298,consumo,1
311,"despertador, 500-mil-mortos-no-stf",1
466,seguros,1
313,dinheiro,1
427,pais,1
367,historia,1
369,ifa,1
438,policia,1
437,polemica,1
376,internas_economia,1
431,pix,1
430,pirataria,1
380,"justica, 3-dos-ex-pms-levados-por-salles-para-ministerio-foram-afastados-pelo-stf",1
257,beleza,1
383,lifestyle,1
384,listas,1
428,palmeiras,1
425,"opiniao, post",1
363,golfe,1
424,"opiniao, esportivamente",1
423,"opiniao, editorial",1
421,"olimpiadas, blogs, post",1
418,"novelas, quiz",1
417,"novelas, imperio",1
397,moda,1
398,motor,1
399,multimercados,1
414,noticias,1
401,mwc,1
404,natacao,1
405,navegadores,1
364,gremio,1
362,"go, goias, playlist",1
314,diplomacia,1
338,"especialpublicitario, redhat",1
475,"sp, playlist",1
474,software,1
473,"sociedade, vacina",1
320,"economia, tecnologia",1
472,"sociedade, epoca",1
471,"sociedade, educacao",1
469,"sociedade, ciencia",1
326,empreendedorsocial,1
410,node,1
332,entrevistas,1
463,"saude, estado",1
337,"especialpublicitario, ambev",1
462,"saude, 299-casos-e-31-obitos-por-covid-19-sao-registrados-no-maranhao",1
361,"go, goias, edicao",1
341,"esportes, gr%c3%aamio",1
344,"esportes, olimpiadas",1
345,esports,1
347,eventos,1
348,exercito,1
457,"rj, operacao_jacarezinho",1
350,"fantastico, playlist",1
353,folhinha,1
355,fundos,1
454,"ribeiraopreto, cotidiano, cidades",1
445,"programas, episodio",1
360,global,1
0,108162,1
254,artigos,1
256,atualidades,1
79,345488,1
92,345573,1
91,345570,1
90,345556,1
89,345555,1
88,345548,1
87,345538,1
86,345536,1
85,345521,1
84,345519,1
83,345498,1
82,345496,1
81,345495,1
80,345493,1
78,345484,1
63,345312,1
77,345467,1
76,345447,1
75,345415,1
74,345407,1
73,345378,1
72,345368,1
71,345362,1
70,345361,1
69,345356,1
68,345336,1
67,345333,1
66,345331,1
65,345315,1
93,345579,1
94,345593,1
95,345608,1
96,345621,1
123,346783,1
122,346752,1
121,346739,1
120,346720,1
119,346457,1
118,346273,1
117,346261,1
116,346224,1
115,346122,1
114,345977,1
113,345933,1
112,345912,1
111,345905,1
110,345882,1
109,345864,1
108,345844,1
107,345827,1
106,345777,1
105,345758,1
104,345697,1
103,345689,1
102,345688,1
101,345677,1
100,345661,1
99,345647,1
98,345636,1
97,345635,1
64,345313,1
62,345285,1
125,346811,1
16,1276645,1
29,345080,1
28,345061,1
27,345057,1
26,345044,1
25,30023,1
24,29793,1
23,29783,1
22,185782,1
21,181447,1
20,181227,1
19,13a-vara-de-curitiba-e-incompetente-para-julgar-guido-mantega-diz-2a-turma-do-stf,1
18,1278419,1
17,1276854,1
15,1276436,1
61,345284,1
14,1276286,1
13,1275929,1
12,1273636,1
11,1273288,1
10,1272580,1
9,1269873,1
8,1269765,1
7,1265591,1
6,1261771,1
5,1260604,1
4,1259985,1
3,1258555,1
2,1258184,1
30,345103,1
31,345104,1
32,345116,1
33,345124,1
60,345267,1
59,345264,1
58,345263,1
57,345262,1
56,345254,1
55,345245,1
54,345231,1
53,345211,1
52,345202,1
51,345192,1
50,345188,1
49,345186,1
48,345181,1
47,345179,1
46,345178,1
45,345171,1
44,345168,1
43,345167,1
42,345166,1
41,345161,1
40,345150,1
39,345141,1
38,345140,1
37,345138,1
36,345136,1
35,345135,1
34,345130,1
124,346808,1
126,346814,1
255,atitude,1
205,348188,1
218,348753,1
217,348737,1
216,348691,1
215,348689,1
214,348664,1
213,348663,1
212,348605,1
211,348601,1
210,348599,1
209,348588,1
208,348585,1
207,348193,1
206,348190,1
204,348177,1
189,347740,1
203,347855,1
202,347853,1
201,347852,1
200,347833,1
199,347816,1
198,347811,1
197,347802,1
196,347791,1
195,347763,1
194,347755,1
193,347754,1
192,347749,1
191,347747,1
219,348754,1
220,348767,1
221,348816,1
222,348822,1
1,1257018,1
253,"araraquara, cotidiano, coronavirus",1
250,android,1
248,"am, amazonas, playlist",1
245,8-curiosidades-sobre-as-profundezas-do-oceano-182449,1
244,457-cidades-confirmam-atos-contra-bolsonaro-nesse-19j,1
243,4-497-profissionais-da-saude-ja-foram-infectados-pela-covid-19-no-estado,1
242,4-491-profissionais-da-saude-ja-foram-infectados-pela-covid-19-no-estado,1
241,4-488-profissionais-da-saude-ja-foram-infectados-pela-covid-19-no-estado,1
240,4-485-profissionais-da-saude-ja-foram-infectados-pela-covid-19-no-estado,1
239,382840,1
238,349033,1
237,349013,1
236,349007,1
235,348990,1
234,348974,1
233,348969,1
232,348962,1
231,348961,1
230,348960,1
229,348957,1
228,348943,1
227,348925,1
226,348920,1
225,348911,1
224,348890,1
223,348868,1
190,347745,1
188,347732,1
127,346825,1
142,347103,1
155,347282,1
154,347258,1
153,347253,1
152,347243,1
151,347226,1
150,347198,1
149,347196,1
148,347172,1
147,347143,1
146,347128,1
145,347115,1
144,347106,1
143,347104,1
141,347087,1
187,347719,1
140,347064,1
139,347036,1
138,346990,1
137,346981,1
136,346975,1
135,346922,1
134,346920,1
133,346917,1
132,346914,1
131,346909,1
130,346906,1
129,346868,1
128,346838,1
156,347285,1
157,347296,1
158,347297,1
159,347320,1
186,347711,1
185,347704,1
184,347703,1
183,347699,1
182,347698,1
181,347679,1
180,347644,1
179,347641,1
178,347570,1
177,347562,1
176,347561,1
175,347546,1
174,347545,1
173,347532,1
172,347508,1
171,347507,1
170,347486,1
169,347479,1
168,347468,1
167,347418,1
166,347412,1
165,347370,1
164,347348,1
163,347345,1
162,347334,1
161,347327,1
160,347325,1
508,windows,1

In [ ]:
#Filtra categorias com poucas noticias. 
'''dfNewsGrupo = dfNews.groupby(['CATEGORIA'])['URL'].count().reset_index().sort_values('URL',ascending=False)
dfNewsGrupo = dfNewsGrupo[dfNewsGrupo['URL']<=30]
dfNews = dfNews[~dfNews['CATEGORIA'].isin(dfNewsGrupo['CATEGORIA'].tolist())]
dfNews.shape '''

(6992, 9)

In [ ]:
#Criando coluna CATEGORIA numerada.
'''dfNewsGrupo = dfNews.groupby(['CATEGORIA'])['URL'].count().reset_index().sort_values('URL',ascending=False)
print('QUANTIDADE DE NOTICIAS POR CATEGORIA:\n',dfNewsGrupo)
dictCategoriaNumero = dict(zip(dfNewsGrupo['CATEGORIA'],range(0,30)))
print(dictCategoriaNumero)
dfNews['CAT_NRO'] = dfNews['CATEGORIA'].map(dictCategoriaNumero)
dfNews[['CATEGORIA','CAT_NRO']].head(5)
'''

QUANTIDADE DE NOTICIAS POR CATEGORIA:
         CATEGORIA   URL
11          midia  1164
9           local   979
16       politica   906
13          mundo   731
14        novelas   552
12     miscelanea   491
17          saude   390
6         esporte   378
5        economia   301
0          brasil   270
3     coronavirus   226
2         colunas   183
8         justica   129
1    celebridades    85
7      fantastico    47
10  meio-ambiente    45
4       cotidiano    45
18     tecnologia    39
15        podcast    31
{'midia': 0, 'local': 1, 'politica': 2, 'mundo': 3, 'novelas': 4, 'miscelanea': 5, 'saude': 6, 'esporte': 7, 'economia': 8, 'brasil': 9, 'coronavirus': 10, 'colunas': 11, 'justica': 12, 'celebridades': 13, 'fantastico': 14, 'meio-ambiente': 15, 'cotidiano': 16, 'tecnologia': 17, 'podcast': 18}

    CATEGORIA  CAT_NRO
0       midia        0
1       midia        0
2  miscelanea        5
3       mundo        3
4       local        1

# Tratamento dos Textos

In [28]:
dfNews.groupby('FONTE')['URL'].count().reset_index().sort_values(by='URL', ascending=False)

                                FONTE   URL
32                                UOL  2799
38                     google-news-br  2211
1                          Brasil 247  1915
29                           Poder360   956
21                     Notícias da TV   813
23                            O Globo   780
10                   Folha de S.Paulo   518
26                            O Tempo   439
16               Jornal Folha Vitória   399
17                 Jornal de Brasília   354
2                           Canaltech   259
40                             iBahia   252
28                      Olhar Digital   239
6           Diário do Centro do Mundo   231
4                     Cidadeverde.com   211
27                            OFuxico   176
30                               TNH1   172
11                                 G1   163
9                               Extra   162
13                          InfoMoney   158
24                        O Imparcial   148
8         Economia & Negócios Estadão   147
37                   globoesporte.com   127
33                    Valor Econômico   116
34                      Valor Investe    85
22                      O Antagonista    48
18                         Metrópoles    39
25                             O POVO    38
20                 Notícias Concursos    35
39                              gshow    35
41                     Época NEGÓCIOS    29
12                     Gizmodo Brasil    21
7                                 EBC    20
3                            Capricho    20
31                           TechTudo    15
15  JCNET - Jornal da Cidade de Bauru    13
14                              Istoe     9
35                              Vogue     5
19                               NE10     4
36                     Yahoo Notícias     3
5                 Correio Braziliense     3
0                          Adrenaline     2

In [30]:
dfN = dfNews[dfNews['FONTE']=='UOL']
dfN=dfN[0:5]
for t in dfN['TEXTO']:
  print(t)
  print('------------------------------------------------------------------------------------------------')
  break

Do UOL, em São Paulo
Do UOL, em São Paulo
25/04/2021 11h17Atualizada em 25/04/2021 11h17
A ex-ministra do Meio Ambiente Marina Silva recebeu a primeira dose da vacina contra a covid-19 ontem, no Distrito Federal. Com 63 anos, ela integra a faixa etária contemplada pela campanha de imunização da capital do país.
Muito feliz porque, dentro dos critérios da faixa de idade do Distrito Federal, pude tomar a primeira dose da vacina contra a covid-19. Mais uma vez o serviço público de saúde exerce papel fundamental em minha vida. Marina Silva, ex-ministra do Meio Ambiente
Marina afirmou que segue na "luta" para manter um sistema público de saúde de qualidade para todos e enalteceu a ciência.
A ex-ministra que concorreu nas eleições para Presidente da República publicou uma foto com o cartão de vacinação preenchido nas mãos e um vídeo em que, após receber a dose do imunizante, ela comemora: "Viva ao SUS".
Muito feliz porque, dentro dos critérios da faixa de idade do Distrito Federal, pude tomar a primeira dose da vacina contra a COVID-19.Mais uma vez o serviço público de saúde exerce papel fundamental em minha vida. #vivaoSUS #ᴠᴀᴄɪɴᴀᴘᴀʀᴀᴛᴏᴅᴏs #vacinajá pic.twitter.com/GSvaa6T9sW
O presidente Jair Bolsonaro (sem partido) foi alvo de críticas de Marina Silva, assim como o atual ministro do Meio Ambiente, Ricardo Salles. Na visão da ambientalista, ambos pretendem criar uma força paramilitar em favor do desmatamento ilegal da Amazônia.
"O que ele (Bolsonaro) quer fazer é criar uma milícia na Amazônia. A ambição do governo Bolsonaro é de ter o controle militar ou paramilitar na Amazônia para implementar as políticas nefastas na Amazônia", disse Marina em entrevista para a GloboNews.
Marina citou como "políticas nefastas" os incentivos ao avanço da pecuária extensiva e realização de "grandes projetos" relacionados à mineração.
O governo de posta ao lado dos contraventores, dos que fazem grilagem em terra política. Marina Silva, ex-ministra do Meio Ambiente
As declarações de Marina Silva foram feitas após o pronunciamento de Bolsonaro na Cúpula dos Líderes sobre o Clima, que ocorreu na última quinta-feira (22).
O presidente mentiu durante a sua fala, alegando que aumentou recursos para fiscalização ambiental. Ele também apresentou dados sem contexto sobre a Amazônia e omitiu as taxas de desmatamento que ocorreram na região durante seu governo.
Ricardo Lewandowski é provecto e sábio. Seus argumentos, sempre eruditos, às vezes são incompreensíveis. Mas ele...
Imaginava-se que o Brasil estivesse imunizado contra retrocessos quando o então senador Romero Jucá, vírus...

------------------------------------------------------------------------------------------------

### Prepara DataSet Treinamento, Teste

In [ ]:
dfMiscelanea = dfNews[dfNews['CATEGORIA']=='miscelanea'].loc[:,['TEXT_TRATADO']]
print('miscelanea:',dfMiscelanea.shape)

miscelanea: (491, 1)

In [ ]:
dfNews.columns

Index(['FONTE', 'CATEGORIA', 'TEXTO', 'URL', 'PUBLISHEDAT', 'TITLE', 'AUTHOR',
       'DT_REGISTRO', 'TEXT_TRATADO', 'CAT_NRO'],
      dtype='object')

In [ ]:
#vamos obter uma amostra randômica de n noticias para cada CATEGORIA e dividir em três datasets Treinamento Validação e Teste.
dfNewsGrupo = dfNewsGrupo[dfNewsGrupo['CATEGORIA']!='miscelanea']
n=200
categorias = dfNewsGrupo[dfNewsGrupo['URL']>n].loc[:,['CATEGORIA']]['CATEGORIA'].to_list()
print(categorias)
frame=[]
for categoria in categorias:
  dftmp = dfNews[dfNews['CATEGORIA']==categoria].loc[:,['TEXTO','CAT_NRO']].sample(n=n)
  frame.append(dftmp)
dfAmostra = pd.concat(frame,ignore_index=True, sort=False)
print('Amostra:', dfAmostra.shape)

df_train, df_test_valid = train_test_split(dfAmostra, train_size = 0.8, random_state = 10)
df_valid, df_test = train_test_split(df_test_valid, train_size = 0.5, random_state = 10)
print('Treinamento:',df_train.shape)
print('Teste:', df_test.shape)
print('Valid:', df_valid.shape)

['local', 'politica', 'mundo', 'novelas', 'saude', 'esporte', 'economia', 'brasil']
Amostra: (1600, 2)
Treinamento: (1280, 2)
Teste: (160, 2)
Valid: (160, 2)

In [ ]:
df_train.to_csv(path + "/train.csv",header=True,doublequote=True, index=False, quotechar='"', encoding='utf-8')
df_test.to_csv(path + "/test.csv",header=True,doublequote=True, index=False, quotechar='"', encoding='utf-8')
df_valid.to_csv(path + "/valid.csv",header=True,doublequote=True, index=False, quotechar='"', encoding='utf-8')