<a href="https://colab.research.google.com/github/HedersonSantos/Noticias/blob/main/TransformersAndAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd
import numpy as np
from google.colab import files, drive
from pathlib import Path
from sklearn.model_selection import train_test_split
import io
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('max_colwidth', None)

In [41]:
!wget https://raw.githubusercontent.com/HedersonSantos/PredictFligthTicket/main/data/Data_Train.csv
!wget https://raw.githubusercontent.com/HedersonSantos/PredictFligthTicket/main/data/Test_set.csv

--2023-02-25 19:36:10--  https://raw.githubusercontent.com/HedersonSantos/PredictFligthTicket/main/data/Data_Train.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1107157 (1.1M) [text/plain]
Saving to: ‘Data_Train.csv’

Data_Train.csv      100%[===================>]   1.06M  --.-KB/s    in 0.04s

2023-02-25 19:36:10 (29.9 MB/s) - ‘Data_Train.csv’ saved [1107157/1107157]

--2023-02-25 19:36:10--  https://raw.githubusercontent.com/HedersonSantos/PredictFligthTicket/main/data/Test_set.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 261553 (255K) [text/plain]
Saving to: ‘Test_set.csv’

Test_set.csv        100%[===================>] 255.42K  --.-KB/s    in 0.02s

2023-02-25 19:36:10 (10.5 MB/s) - ‘Test_set.csv’ saved [261553/261553]

In [42]:
!ls -la

total 1356
drwxr-xr-x 1 root root    4096 Feb 25 19:36 .
drwxr-xr-x 1 root root    4096 Feb 25 18:56 ..
drwxr-xr-x 4 root root    4096 Feb 23 14:37 .config
-rw-r--r-- 1 root root 1107157 Feb 25 19:36 Data_Train.csv
drwxr-xr-x 1 root root    4096 Feb 23 14:38 sample_data
-rw-r--r-- 1 root root  261553 Feb 25 19:36 Test_set.csv

In [45]:
dftrain= pd.read_csv("Data_Train.csv", sep=";", header=0)
dftest = pd.read_csv("Test_set.csv", sep=";", header=0)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info